<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <!--  
  
  Write by ow hand
  -->
  
    <connectionStrings>
           <add name="checkCS" connectionString="server=localhost;User Id=root;database=ASPFIRST" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>


  <!--  
  
  Write by ow hand end
  -->
  
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
